body{
    margin:0px;
}
.h1{
    display: flex;

}
.header1{
    /* float: left; */
    /* background-color:red; */
    width: 50%;
    height: 100px;
    display: flex;
}
.header2{
    /* float: left; */
    width: 50%;
    height: 100px;
    padding-bottom:10px ;
}
.text1{
    /* margin-top: -72px; */
    /* margin-left: 131px; */
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.2em;
    width: 100px;
    font-size: 13px;
    padding-top: 28px;
    padding-left: 48px;
    
}
.hai{
   margin: -30px 400px;
   

}

.hasi{
    display:flex;
}
.text2{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    width: 100px;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 29px;
    padding-left: -157px;
    margin-left: -25px;
}
.text3{
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    width: -14px;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 30px;
    padding-left: 12px;
}
.text4{
     margin-top: -32px;
     margin-left: -387px;
     font-size: 14px;
     font-weight: bold;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif
}
.text5{
    margin-top: -445px;
    margin-left: 849px;
    color: white;
    width: -30px;
    height: 176px;
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;

}
.text6{
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    
}
.text7{
    margin-top: -149px;
    margin-left: 927px;
}
.text8{
    color: white;

}
.text9{
    color: white;
}
/* .fa-solid{
    size: 20px;
    margin-top: -500px;
    margin-left: 382px;
    padding-top: 20px;
} */
.img1{
    height: 51px;
    width: 51px;
    padding-top: 26px;
    padding-left: 42px;
}
.img2{
    height: 615px;
    width: 757px;
}
.img3{
    height: 601px;
    width: 728px;
    padding-left: 715px;
}
.img4{
    height: 598px;
    width: 726px;
    padding-left: 0px;
}
.img5{
    height: 393px;
    width: 653px;
    padding-left: 770px;
    padding-top: -53px;
}
.img6{
    height: 422px;
    width: 715px;
    padding-left: 0px;
}

.d1{
    background-color: #1e3932;
    height: 616px;
    width: 95%;
    float: left;
    margin-top: 20px;
    margin-left: 38px;
}
.d2{
    background-color:#d50032 ;
    height: 601px;
    width: 95%;
    float: left;
    margin-top: 30px;
    margin-left: 38px;
}
.d3{
    background-color:#4cac84;
    height: 598px;
    width: 95%;
    float: left;
    margin-top: 36px;
    margin-left: 38px;
}
.d4{
    background-color:#006241;
    height: 411px;
    width: 95%;
    float: left;
    margin-top: 36px;
    margin-left: 38px;
}
.d5{
    background-color:#1e3932;
    height: 422px;
    width: 95%;
    float: left;
    margin-top: 36px;
    margin-left: 38px;
}
.button1{
    
    margin-left: 529px;
    margin-top: -24px;
    background-color: white;
    border-width: 1px;
    color: black;
    font-weight: bold;
    border-radius: 28px;
    width: 77px;
    height: 33px;
}
.button2{
    display: flex;
    margin-top: -16px;
    margin-left: 26px;
}
.button3{
    margin-top: -34px;
    margin-left: 650px;
}
.button4{
    background-color: black;
    color: white;
    border-radius: 20px;
    width: 87px;
    height: 33px;
    font-weight: bold;
}
.d9{
    background-color:white;
    height: 393px;
    width: 95%;
    float: left;
    margin-top: 20px;

    
    
    
}

#hr1{
    margin-top: 1px;
}
#hr2{
    margin-top: 39px;
    padding-left: 11px;
    margin-left: -13px;
    margin-right: -76px;
}
#h1{
    margin-top: 353px;
    margin-right: -76px;
}
.d10{
    background-color:white;
    height: 430px;
    width: 95%;
    float: left;
    margin-top: 20px;
    margin-left: 38px;
}
/* #h2{
    margin-top: 360px;
} */
.d11{
    background-color:white;
    height: 271px;
    width: 95%;
    float: left;
    margin-top: 20px;
    margin-left: 38px;
}
#text10{
    /* padding-left: 20px;
    padding-top: 40px; */
    height: 10px;
    width: 573px;
    font-size: 13px;
    margin-top: 41px;
    margin-left: 488px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#text11{
    height: 10px;
    width: 573px;
    font-size: 13px;
    margin-top: 16px;
    margin-left: 565px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#link1{
    color: black;
    margin-top: 2px;
    margin-left: 649px;
}
#text12{
    height: 10px;
    width: 573px;
    font-size: 15px;
    margin-top: 117px;
    margin-left: 543px;
}
#text13{
    height: 10px;
    width: 573px;
    font-size: 15px;
    margin-top: 102px;
    margin-left: 551px;
}
tr,th{
    padding-left: -29px;
}
th,td{
    text-align: start;
    margin-top: 42px;
    padding-top: 25px;
}

.s1{
    margin-top: 20px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    
}
.s2{
    margin-top: -34px;
    margin-left: 132px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.s3{
    margin-top: -33px;
    margin-left: 267px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.s4{
    margin-top: -33px;
    margin-left: 465px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.s5{
    margin-top: 30px;
    color: rgba(0,0,0,.58);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.s6{
    margin-top: 40px;
    word-spacing: 13px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.s7{
    margin-top: -31px;
    margin-left: 50px;
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#l1{
    padding-left: 116px;
    padding-top: -29px;
    margin-top: -34px;
}
#l2{
    padding-left: 116px;
    padding-top: -29px;
    margin-top: -34px;
}
#l3{
    padding-left: 171px;
    padding-top: -29px;
    margin-top: -34px;
}
#i1{
    color: white;
    font-size: 56px;
    padding-left: 145px;
    margin-top: -477px;
    padding-top: -210px;
    letter-spacing: 2px;
    letter-spacing: -.01em;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}
#i2{
    color: white;
    font-size: 55px;
    padding-left: 270px;
    margin-top: -61px;
    padding-top: -210px;
    
    line-height: 1.5;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt";
    font-family: 'Work Sans', sans-serif;
}
#i3{
    color: white;
    font-size: 24px;
    margin-top: -42px;
    padding-left: 96px;
    font-family: 'Inconsolata', monospace;
}
#i4{
    color: white;
    font-size: 21px;
    margin-top: -21px;
    padding-left: 97px;
    font-family: 'Inconsolata', monospace;
}
#i5{
    color: #1e3932;
    font-size: 52px;
    margin-top: -410px;
    padding-left: 969px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
#i6{
    color: #1e3932;
    font-size: 25px;
    margin-top: -19px;
    padding-left: 865px;
    font-family: 'Open Sans', sans-serif;
}

#i7{
    color: #1e3932;
    font-size: 25px;
    margin-top: -21px;
    padding-left: 923px;
    font-family: 'Open Sans', sans-serif;
}


.b1{
    color: white;
    background-color: #d50032;
    height: 35px;
    width: 114px;
    margin-top: 20px;
    margin-left: 314px;
    border-radius: 20px;
    border-color: white;
    font-size: 15px;
    font-weight: bold;
}
.b2{
    color:#1e3932;
    background-color:#4cac84;
    border-width: 1px;
    height: 35px;
    width: 114px;
    margin-top: 13px;
    margin-left: 1055px;
    border-radius: 20px;
    border-color: rgb(10, 9, 9);
    font-size: 15px;
    font-weight: bold;
}
.b3{
    color: white;
    background-color: #006241;
    border-width: 1px;
    height: 35px;
    width: 114px;
    margin-top: 21px;
    margin-left: 338px;
    border-radius: 20px;
    border-color: white;
    font-size: 15px;
    font-weight: bold;
}
.b4{
    color: white;
    background-color: #1e3932;
    border-width: 1px;
    height: 35px;
    width: 114px;
    margin-top: 21px;
    margin-left: 1019px;
    border-radius: 20px;
    border-color: white;
    font-size: 15px;
    font-weight: bold;
}
.b5{
    color: white;
    background-color: #1e3932;
    border-width: 1px;
    height: 35px;
    width: 101px;
    margin-top: 19px;
    margin-left: 1021px;
    border-radius: 20px;
    border-color: white;
    font-size: 15px;
    font-weight: bold;
}
#i8{
    color: white;
    font-size: 25px;
    margin-top: -288px;
    padding-left: 273px;
    font-weight: bold;
    font-family: 'Alexandria', sans-serif;
}

#i9{
    color: white;
    font-size: 18px;
    margin-top: 34px;
    padding-left: 144px;
    
    letter-spacing: 0.07em;
    font-family: 'Archivo', sans-serif;
}
#i10{
    color: white;
    font-size: 18px;
    margin-top: -10px;
    padding-left: 144px;
    
    letter-spacing: 0.07em;
    font-family: 'Archivo', sans-serif;
}
#i11{
    color: white;
    font-size: 18px;
    margin-top: -10px;
    padding-left: 322px;
    
    letter-spacing: 0.07em;
    font-family: 'Archivo', sans-serif;
}
#i12{
    color: white;
    font-size: 24px;
    margin-top: -310px;
    padding-left: 890px;
    /* letter-spacing: 0.07em; */
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
#i13{
    color: white;
    font-size: 17px;
    margin-top: 35px;
    padding-left: 860px;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-family: 'Archivo', sans-serif;
}

#i14{
    color: white;
    font-size: 17px;
    margin-top: -3px;
    padding-left: 972px;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-family: 'Archivo', sans-serif;
}
#i15{
    color: white;
    font-size: 22px;
    margin-top: -132px;
    padding-left: 818px;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-family: 'Archivo', sans-serif;
}
#i16{
    color: white;
    font-size: 22px;
    margin-top: -10px;
    padding-left: 831px;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-family: 'Archivo', sans-serif;
}
#i17{
    color: white;
    font-size: 20px;
    margin-top: -8px;
    padding-left: 1011px;
    font-weight: bold;
    letter-spacing: 0.07em;
    font-family: 'Archivo', sans-serif;
}

